@using CafeWorkspaceBooking.WebConfig.Contants
@model IEnumerable<CafeWorkspaceBooking.Areas.Admin.ViewModels.AdminDatPhongVM>


@{
	int counter = 1;
}
<h3 class="text-center">Thông tin đặt phòng</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>STT</th>
			<th>Phòng</th>
			<th>Tên khách Hàng</th>
			<th>Thời Gian Nhận phòng</th>
			<th>Thời gian Trả phòng</th>
			<th>Trạng thái đặt phòng</th>
			<th>Trạng thái Phòng</th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@counter</td>
				<td>@item.TenPhong</td>
				<td>@item.TenKhachHang</td>
				<td>@item.TGBatDau</td>
				<td>@item.TGKetThuc</td>
				<td>@item.TrangThaiDP</td>
				<td>
					@if (item.TrangThaiPhong == TrangThaiPhong.TRUNG)
					{
						<i class="fas fa-exclamation-triangle" style="color: #f5cc38;"></i> <span class="text-warning"> Trùng Phòng</span>
					}
					else if (item.TrangThaiPhong == TrangThaiPhong.TRONG)
					{
						<i class="fas fa-plus-circle" style="color: #25b636;"></i><span class="text-success"> Phòng trống</span>
					}
					else if(item.TrangThaiPhong == TrangThaiPhong.CHO_THANHTOAN)
					{
						<i class="fas fa-check-circle" style="color: #40c45a;"></i> <span class="text-success"> Đang Sử dụng </span>
					}
					else if (item.TrangThaiPhong == TrangThaiPhong.THANHTOAN)
					{
						<i class="fas fa-check-circle" style="color: #40c45a;"></i> <span class="text-success">Hết Giờ</span>
					} else
					{
						<i class="fas fa-check-circle" style="color: #40c45a;"></i> <span class="text-success"> Đã Đặt </span>
					}

				</td>
				<td>
					@if (item.TrangThaiDP != TrangThaiDP.DADUYET)  // chờ duyệt || Huy  || quá hạn 
					{
						if (item.TrangThaiDP == TrangThaiDP.QUA_HAN)
						{
							<button type="button" class="btn btn-primary" disabled>
								Quá hạn duyệt 
							</button>
						}
						else
						{
							if (item.TrangThaiDP != TrangThaiDP.KHACH_HUY && item.TrangThaiDP != TrangThaiDP.ADMIN_HUY)
							{
								<button class="btn btn-success">
									<a asp-action="Duyet" asp-controller="AdminDatPhong" asp-route-id="@item.IdDatPhong">Duyệt</a>
								</button>
							}
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal@(item.IdDatPhong)" @(item.TrangThaiDP == TrangThaiDP.KHACH_HUY || item.TrangThaiDP == TrangThaiDP.ADMIN_HUY ? "disabled" : "")>
								@(item.TrangThaiDP == TrangThaiDP.KHACH_HUY || item.TrangThaiDP == TrangThaiDP.ADMIN_HUY ? "Đã hủy" : "Hủy")
							</button>
						}
					}
					else																//đã duyệt
					{
						@if (DateTime.Now.Date == item.TGBatDau.Date )					// check cùng ngày
						{
							if (item.TGBatDau > DateTime.Now)
							{
								<button class="btn btn-success">
									<a asp-action="" asp-controller="" asp-route-id="@item.IdDatPhong">Nhận Phòng</a>
								</button>
							}else{
								if (item.TrangThaiPhong == TrangThaiPhong.DA_THANHTOAN)     // đã Sử dụng còn trong ngày
								{
									<button class="btn btn-success">
										<a href="#">Đã sử dụng 1</a>
									</button>
								}
								else
								{
									<button class="btn btn-success">
										<a asp-action="ThanhToan" asp-controller="AdminDatPhong" asp-route-id="@item.IdDatPhong">Thanh Toán 2</a>
									</button>
								}
							}
							
						}
						else if (DateTime.Now.Date < item.TGBatDau.Date)				// đã duyệt nhưng ch tới ngày
						{
							<button class="btn btn-success">
								<a href="#">Chưa tới ngày</a>
							</button>
						}
						else                                                            // đã Sử dụng khi qua ngày 
						{
							if (item.TrangThaiPhong == TrangThaiPhong.DA_THANHTOAN)     // đã Sử dụng còn trong ngày
							{
								<button class="btn btn-success">
									<a href="#">Đã sử dụng </a>
								</button>
							}
							else
							{
								<button class="btn btn-success">
									<a asp-action="ThanhToan" asp-controller="AdminDatPhong" asp-route-id="@item.IdDatPhong">Thanh Toán 1</a>
								</button>
							}
						}
					}
					<div class="modal fade" id="exampleModal@(item.IdDatPhong)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form asp-action="HuyDatPhong" asp-controller="AdminDatPhong" asp-area="Admin" class="p-5">
									<h4>Lí do Hủy đặt phòng: </h4>
									<div class="input-group flex-nowrap">
										<input type="hidden" name="id" value="@item.IdDatPhong" />
										<input type="text" class="form-control" name="lido" placeholder="Lí do..." aria-label="Lí do..." aria-describedby="addon-wrapping">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
										<button type="Submit" class="btn btn-primary">Xác nhận hủy đặt Phòng</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</td>
				@* <td><a asp-action="HuyDatPhong" asp-controller="HuyDatPhong" asp-route-id="@item.IdDatPhong" confirm("are you sre")>@(item.TTDatPhong == TrangThaiDP.KHACH_HUY || item.TTDatPhong == TrangThaiDP.ADMIN_HUY ? "Đã hủy" : "Hủy đơn đặt")</a></td> *@
			</tr>

			counter++;
		}



	</tbody>
</table>