@model CafeWorkspaceBooking.Models.AppDichVu;
<style>
	.f-childDetail {
		border: double 3px rgb(231, 231, 231);
	}

	.avt1 {
		transition: transform 0.5s ease;
	}

		.avt1:hover {
			box-shadow: 0px 0px 30px 1px rgba(10, 232, 198, 0.3);
			transform: rotate(6deg);
		}

	.bg-custom {
		background-image: url('/img/bg-01.png');
		background-size: cover;
		height: 100%; /* Đảm bảo container chiếm toàn bộ chiều cao của màn hình */
	}

	.bg-custom-img {
		background-image: url('/img/bg-01-img.png');
		background-size: cover;
		height: 90%;
		
	}
</style>
<div class="container-fluit bg-custom pt-1">
	<div class="row py-5 rounded custom-shadow px-4 pt-3 mx-5 mt-5">
		<div class="col mx-auto rounded-2 p-5  d-flex flex-column">
			<div class="row ">
				<div class="col-auto fs-3 fw-bold">THÔNG TIN CHUNG</div>
				<div class="col-auto ms-auto">
					<button class="p-2 m-1 bg-success rounded-2">
						<a asp-action="EditDV" asp-controller="AdminDichVu" asp-route-id="@Model.IdDichVu" class="text-dark" style="text-decoration: none">
							Sửa
						</a>
					</button>
					<button class=" btn btn-danger p-2 m-1 rounded-2" data-bs-toggle="modal" data-bs-target="#deleteDV">Xóa</button>
				</div>
			</div>
			<div class="mt-4" style="border-bottom: 2px solid #060503;"></div>

			<div class="row mt-2 w-100">
				<div class="col-2 fw-bold"><i>Tên Sản phẫm:</i></div>
				<div class="col-auto">@Model.TenDv</div>
				<div class="col-auto ms-auto">
					<div class="row ms-auto">
						<div class="col-auto me-3 text-end fw-bold"> <i>Giá:</i> </div>
						<div class="col text-end p-0 pe-3 fw-bold">@Model.Gia</div>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-2 fw-bold"><i>Hình đại diện:</i></div>
				<div class="col-auto p-1 bg-custom-img p-3">
					<div class="avt1">
						<img src="@Model.ImageUrl" width="120px" class="rounded-2" />
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-2 fw-bold"><i>Hình Chi tiết:</i></div>
				@foreach (var item in Model.appImgDV)
				{
					<div class="col-auto bg-custom-img p-4">
						<div class="avt1">
							<img src="@item.Path" width="120px" class="rounded-2" />
						</div>
					</div>
				}

			</div>
			<div class="row mt-2">
				<div class="col-2 fw-bold"><i>Thành phần</i></div>
				<div class="col-auto" style=" color: rgb(39, 22, 22)">@Html.Raw(Model.ThanhPhan)</div>
			</div>
			<div class="row mt-2">
				<div class="col-2 fw-bold"><i>Mô tả</i></div>
				<div class="col-auto" style=" color: rgb(39, 22, 22)">
					@Html.Raw(Model.Mota)
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteDV" tabindex="-1" aria-labelledby="deleteDV" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="DeleteDV" asp-route-id="@Model.IdDichVu" method="get">
				<input type="hidden" id="inputDelete" name="id"/>
				<div class="modal-header">
					<h1 class="modal-title fs-3 p-4" id="updateDM_DVLabel" style="font-weight:bold">Bạn chắc chắn Xóa Sản phẫm: <span id="tenDm"></span></h1>

					<button type="button" class="btn-close ml-5" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Xóa</button>
				</div>
			</form>
		</div>
	</div>
</div>