@model CafeWorkspaceBooking.Areas.Admin.ViewModels.AdminConfigDV_VM



<style>
	.f-childDetail {
		border-right: double 3px #7d7d7d;
	}

	.DmDV {
		background-color: rgb(236, 236, 236);
	}

		.DmDV:hover {
			background-color: rgb(225, 225, 225);
		}

	.edit:hover {
		color: rgb(1, 114, 92);
	}

	.delete {
		color: rgb(175, 100, 85);
	}

		.delete:hover {
			color: rgb(151, 3, 3);
		}

	.BoxDV {
		background-color: #ffc168 ;
		font-weight: 640;
	}

		.BoxDV:hover {
			background-color: rgb(225, 225, 225);
		}

	.bg-custom{
		background-image: url('/img/bg-01.png');
		background-size: cover;
		height: 93vh; /* Đảm bảo container chiếm toàn bộ chiều cao của màn hình */
	}
	
</style>
<div class="container-fluid  bg-custom" style="">
	<div class="row rounded custom-shadow px-5 m-5" >
		<div class="col-4 mx-auto rounded-2 p-3 m-5  d-flex flex-column align-items-center f-childDetail ">
			<div class="row w-100 mb-4">
				<div class="col-7  fs-3 p-0 m-0 pt-3" style="font-weight:bold">Danh mục:</div>
				<div class="col-2 d-flex justify-content-end p-0 ms-auto " style="height: 38px;">
					<button class="btn btn-success mx-1 btn-sm px-2  fs-4" data-toggle="tooltip" data-placement="top" title="Thêm Danh mục dịch vụ" data-bs-toggle="modal" data-bs-target="#addDM_DV">
						@* <i class="fas fa-plus"></i> *@
						Thêm danh mục
					</button>
				</div>
				<form asp-action="Index" method="get" class="p-0">
					<div class="input-group mt-4 p-0">
						<input name="search_Dm" type="text" class="form-control" placeholder="Search danh mục dịch vụ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
						<span class="input-group-text" id="basic-addon2" style="cursor: pointer;"><button class=" border border-0 fs-4" type="submit"><i class="fas fa-search"></i></button></span>
					</div>
				</form>
			</div>
			@foreach (var item in ViewBag.dmDV)
			{
				<div class="row w-100  DmDV p-2 my-1 rounded">
					<div class="col-8  p-0 m-0">@item.TenDmDv</div>
					<div class="col-3  d-flex justify-content-end p-0 m-0 ms-auto text-center">
						<a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#updateDM_DV" onclick="GetDmDv('@item.TenDmDv', @item.IdDmDichVu)"><i class="fas fa-user-edit h5 m-0 mt-1 edit"></i></a>
						<a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#deleteDM_DV" onclick="GetDLDmDv('@item.TenDmDv', @item.IdDmDichVu)"><i class="ms-4 fas fa-times fs-3 delete"></i></a>
					</div>
				</div>
			}
		</div>

		<div class="col-8 mx-auto rounded-2 p-3 px-4  m-5 ">
			<div class="row w-100 m-0 p-0">
				<div class="col-auto fs-3  p-0 m-0 pt-2 mt-3" style="font-weight:bold">Danh sách các Dịch vụ</div>
				@* <div class="col">
				<div class="input-group mb-3 mt-2">
				<input type="text" class="form-control" placeholder="Search dịch vụ..." aria-label="Recipient's username" aria-describedby="basic-addon2"><span class="input-group-text" id="basic-addon2" style="cursor: pointer;"><i class="fas fa-search"></i></span>
				</div>
				</div> *@
				<div class="col-auto d-flex justify-content-end p-0 ms-auto" style="height: 38px;">
					<button class="btn btn-success btn-sm px-2 fs-4" data-toggle="tooltip" data-placement="top" title="Thêm dịch vụ" data-bs-toggle="modal" data-bs-target="#add_DV">
						@* <i class="fas fa-plus"></i> *@
						Thêm sản phẫm
					</button>
				</div>
			</div>
			<form asp-action="Index" method="get" class="p-0">
				<div class="input-group mt-4 p-0">
					<input name="search_DV" type="text" class="form-control" placeholder="Tên sản phẫm..." aria-label="Recipient's username" aria-describedby="basic-addon2">
					<span class="input-group-text" id="basic-addon2" style="cursor: pointer;"><button class=" border border-0 fs-4" type="submit"><i class="fas fa-search"></i></button></span>
				</div>
			</form>
			<div class="row mt-3 me-2">
				@foreach (var item in Model.DisplayDichVuVM)
				{
					<a asp-action="DetailDV" asp-controller="AdminDichVu" asp-route-id="@item.IdDichVu" class="col-3 text-decoration-none text-dark">
						<div class=" p-1 py-0 ">
							<span class="w-100 rounded m-2 text-center d-flex align-items-center justify-content-center BoxDV p-3" style="min-height: 50px; ">
								@item.TenDv
							</span>
						</div>
					</a>
				}
			</div>

		</div>
	</div>

</div>



<div class="modal fade" id="addDM_DV" tabindex="-1" aria-labelledby="addDM_DV" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="AddDanhMucDichvu" method="post">
				<div class="modal-header">
					<h1 class="modal-title fs-3 p-4" id="addDM_DVLabel" style="font-weight:bold">Thêm danh mục Dịch vụ</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-5">
					<div class="row">
						<span class="mb-3">Tên Danh mục Dịch vụ: </span>
						<div class="col w-100 ">
							<input type="text" class="form-control" name="name" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Thêm mới</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="updateDM_DV" tabindex="-1" aria-labelledby="updateDM_DV" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="UpdateDanhMucDichvu" method="post">
				<input type="hidden" id="inputIdCTDmDV" name="id" />
				<div class="modal-header">
					<h1 class="modal-title fs-3 p-4" id="updateDM_DVLabel" style="font-weight:bold">Cập nhật danh mục Dịch vụ:</h1>
					<button type="button" class="btn-close ml-5" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-5">
					<div class="row">
						<span class="mb-3">Tên Danh mục Dịch vụ: </span>
						<div class="col w-100 ">
							<input type="text" class="form-control" name="name" value="" id="inputCTDmDV" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Cập nhật</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="deleteDM_DV" tabindex="-1" aria-labelledby="deleteDM_DV" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="DeleteDanhMucDichvu" method="post">
				<input type="hidden" id="inputDelete" name="id" />
				<div class="modal-header">
					<h1 class="modal-title fs-3 p-4" id="updateDM_DVLabel" style="font-weight:bold">Bạn chắc chắn Xóa danh mục: <span id="tenDm"></span></h1>

					<button type="button" class="btn-close ml-5" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Xóa</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade " id="add_DV" tabindex="-1" aria-labelledby="add_DV" aria-hidden="true">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content p-5">
			<div class="modal-header p-0">
				<div class="modal-title fs-3 fw-bold " id="addDM_DVLabel" style="">Thêm Sản phẫm</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form asp-action="AddDichVu" method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="row p-2 w-100 my-4">
						<div class="col-3 px-0 fs-3 pt-2 "> Chọn danh mục: </div>
						<div class="col-6 px-0 ps-3">
							<select asp-for="CreateDichVuVM.IdDmDichVu" class="form-select form-select-sm fs-4" aria-label=".form-select-sm example" style="height: 30px;">
								<option value="">-- Chọn danh mục --</option>
								@foreach (var item in (List<CafeWorkspaceBooking.Models.AppDmDichVu>)ViewBag.dmDV)
								{
									<option value="@item.IdDmDichVu">@item.TenDmDv</option>
								}
							</select>
						</div>



					</div>
					<div class="row p-2 me-2 w-100 my-4">
						<div class="col-3 fs-3 p-0">
							Tên Sản phẩm:
						</div>
						<div class="col-4 p-0 ps-3">
							<input asp-for="CreateDichVuVM.TenDv" type="text" class="form-control rounded-2" />
						</div>
						<div class="col-4 p-0 ms-auto fs-3">
							<div class="row">
								<div class="col-2 fs-3 p-0">
									Giá:
								</div>
								<div class="col-10 p-0 ps-3">
									<input asp-for="CreateDichVuVM.Gia" type="text" class="form-control rounded-2" />
								</div>
							</div>
						</div>
					</div>

					<div class="row p-2 me-2 w-100 my-4">
						<div class="col-6 p-0 me-auto">
							<div class="row ms-0">
								<div class="col-6 px-0 fs-3 pt-2">
									Ảnh bìa
								</div>
								<div class="col-auto p-0">
									<div class="custom-file">
										<input type="file" asp-for="CreateDichVuVM.ImageUrlFormFile" class="custom-file-input" id="customFile1" onchange="updateFileName(this, 'fileLabel1')" style="width: 80px; overflow: hidden; ">
										<span class="custom-file-label mt-2" id="fileLabel1" style="width: auto; white-space: nowrap;  display: block"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="row ms-auto">
								<div class="col-auto  p-0 pt-1 ps-4 fs-3">
									Ảnh Phụ:
								</div>
								<div class="col-8 p-0 ms-2 ms-auto">
									<div class="custom-file">
										<input asp-for="CreateDichVuVM.appImgDVFormFile" type="file" class="custom-file-input" id="customFile2" onchange="updateFileName(this, 'fileLabel2')" style="width: 80px; overflow: hidden;" multiple>
										<span class="custom-file-label mt-2 fs-5" id="fileLabel2" style="width: auto; white-space: nowrap; display: block"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row p-2 my-4">
						<div class="row p-0 ms-1">
							<div class="col-auto w-100 p-0 pt-1 fs-3 me-2">
								Thành phần:
							</div>
							<div class="col-auto w-100 p-0">
								<textarea asp-for="CreateDichVuVM.ThanhPhan" id="editor_atb_thanhphanOfdichvu"></textarea>
							</div>
						</div>
						<div class="row mt-4 p-0 ms-1">
							<div class="col-auto w-100 p-0 pt-1 fs-3 me-2">
								Mô tả:
							</div>
							<div class="col-auto w-100 p-0">
								<textarea asp-for="CreateDichVuVM.Mota" id="editor_atb_motaOfdichvu"></textarea>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Thêm mới</button>
				</div>
			</form>
		</div>
	</div>
</div>



<script>
	function updateFileName(input, labelId) {
		var fileLabel = document.getElementById(labelId);

		if (input.files.length > 0) {
			var fileCount = input.files.length;
			fileLabel.innerHTML = '<i class="fas fa-check-circle" style="color: #198754"></i>' + " Đã Chọn " + fileCount + " tệp";
		} else {
			fileLabel.innerHTML = " Chọn tệp";
		}
	}
</script>



<script>
	function Filter() {
		var filter = document.getElementById("filter");
		var att = filter.getAttribute("asp-route-fillter");
		if (att === "true") {
			filter.setAttribute("asp-route-fillter", "false");
		} else {
			filter.setAttribute("asp-route-fillter", "true");
		}
	}
</script>

<script>
	// $(document).ready(function () {
	// 	$('[data-toggle="tooltip"]').tooltip();
	// });
	function GetDmDv(tenDmDv, id) {
		document.getElementById('inputCTDmDV').value = tenDmDv;
		document.getElementById('inputIdCTDmDV').value = id;

	}

	function GetDLDmDv(tenDmDv, id) {
		document.getElementById('inputDelete').value = id;
		document.getElementById('tenDm').textContent = tenDmDv;
	}
</script>


