@using CafeWorkspaceBooking.WebConfig.Contants
@model IEnumerable<CafeWorkspaceBooking.Areas.Admin.ViewModels.AdminDatPhongVM>
@{
	int counter = 1;
}
<h3 class="text-center">Thông tin đặt phòng</h3>

<div class="row border border-dark border-1 p-2 bg-secondary mb-5 mt-5 justify-content-between">
	<form class="d-flex w-100" asp-action="DetailOfBooking">
		<div class="col-sm-3 mb-2">
			<select asp-items="ViewBag.Phong" name="phong" class="form-select fs-4 w-100 m-2" style="border-radius: 5px;">
				<option value="" class="fs-5">-- Chọn Phòng --</option>
			</select>
		</div>
		<div class="col-sm-3 mb-2">
			<div class="form-group w-100 m-2">
				<input type="date" name="datetime" class="form-control w-100" style="border-radius: 5px;" />
			</div>
		</div>

		<div class="col-sm-6 m-2">
			<div class="row g-2 align-items-center">
				<div class="col-8">
					<input type="search" name="keyword" class="form-control" id="example" placeholder="Nhập từ khóa..">
				</div>
				<div class="col-4">
					<button type="submit" class="btn btn-info w-100">
						Lưu bộ lọc
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
@if (ViewBag?.searched != null){
	<h4> Kết qủa tìm kiếm: @Model.Count() đơn đặt phòng</h4>
}

<table class="table table-striped">
	<thead>
		<tr>
			<th>STT</th>
			<th>Phòng</th>
			<th>Thời Gian Nhận phòng</th>
			<th>Thời gian Trả phòng</th>
			<th>Trạng thái đặt phòng</th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@counter</td>
				<td>@item.TenPhong</td>
				<td>@item.TGBatDau</td>
				<td>@item.TGKetThuc</td>
				<td>@item.TrangThaiDP</td>
				<td>
					@if (item.TrangThaiDP != TrangThaiDP.DADUYET)  // chờ duyệt
					{
						if(item.TrangThaiDP == TrangThaiDP.QUA_HAN)
						{
							<button type="button" class="btn btn-primary" disabled>
								Quá hạn duyệt 
							</button>
						}else{
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @(item.TrangThaiDP == TrangThaiDP.KHACH_HUY || item.TrangThaiDP == TrangThaiDP.ADMIN_HUY ? "disabled" : "")>
								@(item.TrangThaiDP == TrangThaiDP.KHACH_HUY || item.TrangThaiDP == TrangThaiDP.ADMIN_HUY ? "Đã hủy" : "Hủy")
							</button>
						}
					}
					else                                                                //đã duyệt
					{
						@if (DateTime.Now.Date == item.TGBatDau.Date)                   // check cùng ngày
						{
							if (item.TGBatDau <= DateTime.Now)                              // nhận phòng trễ
							{
								if (item.TrangThaiPhong == TrangThaiPhong.DA_THANHTOAN)     // đã Sử dụng còn trong ngày
								{
									<button class="btn btn-success">
										<a href="#">Đã sử dụng </a>
									</button>
								}
								else                                                    // đã duyệt nhưng đang sd
								{
									<button class="btn btn-success">
										<a href="#">Đang sử dụng</a>
									</button>
								}
							}

						}
						else if (DateTime.Now.Date < item.TGBatDau.Date)                // đã duyệt nhưng ch tới ngày
						{
							<button class="btn btn-success">
								<a href="#">Chưa tới ngày</a>
							</button>
						}
						else                                                            // đã Sử dụng khi qua ngày
						{
							<button class="btn btn-success">
								<a href="#">Đã sử dụng</a>
							</button>
						}
					}
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form asp-action="HuyDatPhong" asp-controller="AdminDatPhong" asp-area="Admin" class="p-5">
									<h4>Lí do Hủy đặt phòng: </h4>
									<div class="input-group flex-nowrap">
										<input type="hidden" name="id" value="@item.IdDatPhong" />
										<input type="text" class="form-control" name="lido" placeholder="Lí do..." aria-label="Lí do..." aria-describedby="addon-wrapping">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
										<button type="Submit" class="btn btn-primary">Xác nhận hủy đặt Phòng</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</td>
				@* <td>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @(item.TTDatPhong == TrangThaiDP.KHACH_HUY || item.TTDatPhong == TrangThaiDP.ADMIN_HUY ? "disabled" : "")>
			@(item.TTDatPhong == TrangThaiDP.KHACH_HUY || item.TTDatPhong == TrangThaiDP.ADMIN_HUY ? "Đã hủy" : "Hủy đơn đặt")
			</button>


			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">
			<form method="post" asp-action="HuyDatPhong" asp-controller="HuyDatPhong" asp-route-id="@item.IdDatPhong" class="p-5">
			<h4>Lí do Hủy đặt phòng: </h4>
			<div class="input-group flex-nowrap">
			<input type="text" class="form-control" name="lido" placeholder="Lí do..." aria-label="Lí do..." aria-describedby="addon-wrapping">
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			<button type="Submit" class="btn btn-primary">Xác nhận hủy đặt Phòng</button>
			</div>
			</form>
			</div>
			</div>
			</div>
			</td> *@
				@* <td><a asp-action="HuyDatPhong" asp-controller="HuyDatPhong" asp-route-id="@item.IdDatPhong" confirm("are you sre")>@(item.TTDatPhong == TrangThaiDP.KHACH_HUY || item.TTDatPhong == TrangThaiDP.ADMIN_HUY ? "Đã hủy" : "Hủy đơn đặt")</a></td> *@
			</tr>

			counter++;
		}



	</tbody>
</table>